<!DOCTYPE html>
<html>
<head>
  <title>TaskProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to "HOME", root_path %>
  <% if current_user %>
    <%= link_to "LOGOUT", logout_path, method: :post %>
  <% end %>
</div>
<%= render "layouts/messages" %>

<%= yield %>

</body>
</html>
