<!DOCTYPE html>
<html>
<head>
  <title>TaskProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <ul class="nav nav-pills">
        <li><%= link_to "HOME", root_path %></li>
        <% if current_user %>
          <li><%= link_to "LOGOUT", logout_path, method: :post %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= render "layouts/messages" %>

    <%= yield %>
  </div>
</body>
</html>
